body{
    background-color: rgb(21 38 66);
    margin: 0px;
    padding: 0px;
    color: white;
}
.nav-img{
    width: 40px; 
    margin-right: 20px;
    z-index: 2;
}
.navbar{
    position: relative;
    top: 0px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5968d473;
    z-index: 999;
}
a{
    text-decoration: none;
    color: white;
}
.container{
    position: relative;
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.content{
    position: relative;
    width: 80%;
    height: 1000px;
}
.sidebar{
    position: relative;
    width: 20%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 40px;
    padding-top: 200px;
}
.nav-left{
    position: relative;
    width: 50%;
    height: 100%;
}
.nav-right{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-name-container{
    position: relative;
    width: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100%;
}
.nav-name {
    text-align: center;
    width: 100%;
    position: relative;
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 20px;
}
.nav-name-hidden{
	display: none;
    width: 100%;
    position: relative;
    font-size: 38px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 20px;
}
.nav-right-elements{
    position: relative;
    width: 30%;
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    font-family: sans-serif;
}
.sidebar-container{
    position: relative;
    width: 100%;
    height: 100%;
}
.sidebar-container-element{
    border-style: solid;
    border-width: 2px;
    margin-bottom: 30px;
    padding: 12px;
    border-radius: 10px;
    
}
.sidebar-container-element:hover{
    box-shadow: 6px 6px 20px lightblue;
}
.sidebar-container-element-titel{
    font-size: 22px;
    margin-bottom: 10px;
    text-decoration-line: underline;  
}
.content-container{
    margin-top: 80px;
}

.content-container-element-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container-element-text{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.content-element-text{
    max-width: 1000px;
    font-family: sans-serif;
    font-size: 30px;
    text-align: center;
    animation: getText 1s 1 linear forwards;
}

.img{
    position: relative;
    max-width: 100%;
    max-height: 800px;
    animation: rotateImg 0.5s 1 linear forwards;
}
.hervorheben{
    position: relative;
    font-weight: 600;
    color: #9169bf;
}
.willkommen{
    font-size: 50px;
    font-weight: 600;
    color: #5968d4;
    animation: changeColor 2s infinite linear;
}
@keyframes changeColor{
    0% {color: #5968d4;}
    50% {color: #9169bf;}
    100% {color: #5968d4;}
}

@keyframes rotateImg{
    from {
        transform: rotateY(90deg);
      }
      to {
        transform: rotateY(0deg);
      }
}
@keyframes getText{
    from {
        max-width: 10px;
        opacity: 0%;
      }
      to {
        max-width: 1000px;
        opacity: 100%;
      }
}

.nav-right-elements-close{
    display: none;
}



@media only screen and (max-width: 1000px) {
	.nav-name-hidden{
		display: block;
	}
	.nav-name{
		display: none;
	}
    .sidebar{
        transition: 0.2s;
        display: none;
    }
    .nav-right-elements{
        display: none;
    }
    .nav-right-elements-close{
        display: block;
    }
    .willkommen{
        font-size: 30px;
    }
    .content-element-text{
        font-size: 20px;
    }
}

.dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    left: -70px;
    display: none;
    position: absolute;
    background-color: #344484;
    min-width: 100px;
    z-index: 2;
    border-radius: 10px;
}

.dropdown-element {
    position: relative;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans-serif;
}

#dropdown-content a:hover {color: #9169bf;}

#fullscreen-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
  }

  .blog-container{
    margin-top: 20px;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .blog-entry{
    position: relative;
    width: 80%;
    min-height: 400px;
    background-color: #1a335c;
    border-style: solid;
    border-radius: 16px;
    border-color: #1a335c;
  }

  .blog-title{
    margin-top: 30px;
    position: relative;
    width: 100%;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    text-decoration: underline;
  }
  .blog-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .blog-img-element{
    border-style: solid;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0);
    width: 90%;
    max-height: 400px;
    object-fit: contain;
  }
  .blog-text-container{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blog-text{
    text-align: center;
    margin-top: 30px;
    width: 90%;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
  }
  @media only screen and (min-width: 1000px) {
    .blog-entry{
        max-width: 1200px;
    } 
}